<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_14062696.server.start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hit</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_14062696.server.hit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stand</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_14062696.server.stand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>state</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_14062696.server.state</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>won</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_14062696.server.won</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>possiblemoves</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_14062696.server.possiblemoves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stats</servlet-name>
        <servlet-class>nz.ac.massey.cs.webtech.s_14062696.server.stats</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hit</servlet-name>
        <url-pattern>/move/hit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stand</servlet-name>
        <url-pattern>/move/stand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>state</servlet-name>
        <url-pattern>/state</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>won</servlet-name>
        <url-pattern>/won</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>possiblemoves</servlet-name>
        <url-pattern>/possiblemoves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stats</servlet-name>
        <url-pattern>/stats</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/jsp/blackjack.jsp</welcome-file>
    </welcome-file-list>
</web-app>
